.footer {
    padding: 24px 0;
    background-color: #ffffff;
}

.footer__content {
    display: grid;
}

.footer__logo {
    width: 196px;
    color: #ff7020;
    margin-bottom: 24px;
}

.footer__address {
    gap: 24px;
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
    font-style: normal;
}

.footer__title {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 8px;
    font-weight: 400;
}

.footer__link-phone {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    line-height: 1.3;

}

.footer__list {
    display: flex;
    gap: 16px;
}

.footer__link-sn {
    color: #ff7020;
}
.footer__link-phone:hover,
.footer__link-phone:focus,
.footer__link-sn:hover,
.footer__link-sn:focus {
    color: #ffab08;
}

.footer__contact {
    margin-bottom: 30px;
}

.footer__development {
    display: flex;
    gap: 4px;
    flex-direction: column;
    font-size: 12px;
    line-height: 16px;
}

@media screen and (min-width: 480px ) {

    .footer__logo {
        margin-bottom: 36px;
    }

    .footer__address {
        flex-direction: row;
        margin-bottom: 40px;
    }

    .footer__contact {
        flex-grow: 1;
    }

}

@media screen and (min-width: 1024px ) {

    .footer__content {
        display: grid;
        grid-template-areas:
         'logo address'
         'development .';
        gap: 35px;
    }

    .footer__logo {
        margin-bottom: 0;
        width: 300px;
        grid-area: logo;
    }

    .footer__address {
        margin-bottom: 0;
        grid-area: address;
        gap: 50px;
        justify-content: flex-end;
    }

    .footer__contact {
        flex-grow: unset;
    }

    .footer__development {
        grid-area: development;
    }

    .footer__title {
        margin-bottom: 24px;
        font-size: 24px;
    }

    .footer__title_sn {
        margin-bottom: 22px;
    }

    .footer__link-phone {
        font-size: 16px;
    }
}

@media screen and (min-width: 1360px ) {

    .footer__content {
        grid-template-columns: 1fr 1fr;
        gap: 35px 30px;
    }

    .footer__address {
        justify-content: flex-start;
    }

    .footer__contact {
        flex-grow: 1;
    }
}