.header {
    padding: 24px 0 30px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='288' height='288' viewBox='0 0 288 288' fill='none'%3E%3Ccircle cx='144' cy='144' r='144' fill='%23FFAB08' /%3E%3C/svg%3E") bottom/611px no-repeat;
    margin-bottom: 30px;
    padding: 24px 0 30px;
    margin-bottom: 30px;
  }

  .header__logo {
    width: 150px;
    color: #fff;
    margin-bottom: 24px;
    margin: 0 auto 24px;
  }

  .header__title-container {
    padding-bottom: 246px;
    background: url('../img/pic.svg') bottom/227px no-repeat;
    color: white;

    text-align: center;
  }

  .header__title {
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 30px;
    line-height: 120%;
  }

  .header__title-text {
    display: block;
  }

  .header__title-text_red {
    color: #ff5c00;
    
}

.header__appeal {
    font-size: 12px;
    line-height: 16px;
    
}

@media screen and (min-width: 480px ) {
    .header {
        background-size: 1400px;
        padding-bottom: 44px;
    }

    .header__container {
        max-width: 480px;
    }

    .header__title-container {
        padding-bottom: 0;
        padding-left: 180px;
        text-align: left;
        background-position: left;
        background-size: contain;
        min-height: 190px;
    }
}

@media screen and (min-width: 768px ) {
    .header {
        background-size: 2540px;
    }

    .header__container {
        max-width: calc(562px + var(--padding-container) * 2);
    }

    .header__title-container {
        padding-left: 237px;
        min-height: 229px;
    }

    .header__title {
        font-size: 36px;
        margin-bottom: 26px;
    }
}

@media screen and (min-width: 1024px ) {
    .header {
        background-size: 2880px;
        padding-bottom: 63px;
        margin-bottom: 40px;
    }

    .header__container {
        max-width: calc(764px + var(--padding-container) * 2);
    }

    .header__title-container {
        padding-top: 46px;
        padding-left: 326px;
        min-height: 326px;
    }

    .header__title {
        font-size: 50px;
        margin-bottom: 52px;
    }

    .header__appeal {
        font-size: 16px;
        margin-bottom: 26px;
    }
    
}

@media screen and (min-width: 1360px ) {
    .header__container {
        max-width: calc(784px + var(--padding-container) * 2);
    }

    .header__title-container {
        padding-left: 346px;
    }
}

@media screen and (min-width: 1920px ) {
    .header {
        background-size: 4660px;
    }
}