.ingredients__title {
    font-size: 10px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 4px;

}

.ingredients__list {
    font-size: 10px;
    line-height: 1.3;
    margin-bottom: 4px;
    font-weight: 400;
}

.ingredients__item {
    margin-bottom: 2px;
}

.ingredients__item:last-child {
    margin-bottom: 0;
}

.ingredients__calories {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.3;
    color: #b1b1b1;
}

@media screen and (min-width: 1024px ) {
    .ingredients__title,
    .ingredients__list,
    .ingredients__calories {
        font-size: 12px;
    }
}