.modal-product {
    background-color: white;
    width: 100%;
    min-height: 100%;
    padding: 32px 10px;
    display: flex;
}

.modal-product__container {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.modal-product__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 12px;
}

.modal-product__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.modal-product__image {
    width: 100%;
    margin-bottom: 16px;
    border-radius: 16px;
}

.modal-product__description {
    font-size: 12px;
    line-height: 1.3;
    font-weight: 400;
    margin-bottom: 10px;
}

.modal-product__ingredients {
    flex-grow: 1;
    margin-bottom: 10px;
}

.modal-product__add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

.modal-product__btn {
    flex-grow: 1;
    padding: 9px;
    background-color: #ff7020;
    border-radius: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: white;
    transition: all .1s ease;
}

.modal-product__btn:hover {
    background-color: #FFAB08;
   }
  
.modal-product__btn:focus-visible {
    background-color: #F86310;
   }
  
.modal-product__btn:active {
    transform: translate(1px, 2px);
   }
  
.modal-product__btn:disabled {
    background-color: #F9F9F9;
   }

   @supports not selector(::focus-visible) {
    .modal-product__btn:focus {
      background-color: #F86310;
     }
   }

.modal-product__price {
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
}

@media screen and (min-width: 480px ) {
    .modal-product {
        max-width: 524px;
        min-height: auto;
        width: 100%;
        padding: 16px 16px 24px;
        border-radius: 24px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    }

    .modal-product__container {
        max-width: unset;
    }

    .modal-product__title {
        margin-bottom: 16px;
    }

    .modal-product__content {
        display: grid;
        grid-template-columns: 226px 1fr;
        grid-template-rows: min-content 1fr;
        gap: 10px 8px;
        margin-bottom: 32px;
    }

    .modal-product__image {
        grid-row: 1 / -1;
        margin-bottom: 0;
    }

    .modal-product__description {
        grid-row: 1 / 1;
        margin-bottom: 0;
    }

    .modal-product__ingredients {
        grid-row: 2 / 3;
        margin-bottom: 0;
    }

    .modal-product__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .modal-product__add {
        margin-bottom: 0;
    }

    .modal-product__btn {
        width: 218px;
        flex-grow: 0;
    }
}

@media screen and (min-width: 1024px ) {
    .modal-product {
        width: 684px;
        padding: 24px 24px 36px;
    }

    .modal-product__title {
        font-size: 40px;
        margin-bottom: 24px;
    }

    .modal-product__content {
        grid-template-columns: 276px 1fr;
        gap: 10px 16px;
        margin-bottom: 38px;
    }

    .modal-product__description {
        font-size: 16px;
    }

    .modal-product__btn {
        width: 276px;
    }

    .modal-product__price {
        font-size: 24px;
    }
}
