.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    overflow-y: auto;
    display: none;
    z-index: 20;
  }
  
  .modal_open {
    display: flex;
  }
  
  .modal__main {
    position: relative;
    width: 100%;
    min-height: 100%;
    cursor: default;
    background-color: #fff;
    margin: auto;
    color: #000;
    padding: 32px 10px;
    cursor: default;
  }
  
  .modal__close {
    width: 24px;
    height: 24px;
    padding: 0;
    display: block;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    outline: 1px solid transparent;
    color: #B1B1B1;
    cursor: pointer;
    outline-offset: 3px;
    border-radius: 3px;
    background-color: transparent;
    transition: outline-color .15s ease-in-out, color .15s ease-in-out;

  }
  
  .modal__close:focus-visible, .modal__close:active {
    color: #FFAB08;
    outline-color: #FFAB08;
    border-radius: 3px;
  }

  .modal__close:hover {
    color: #FFAB08;
  }

  @supports not selector(::focus-visible) {
    .modal__close:focus {
      color: #FFAB08;
    }
   }
  
  
  @media (min-width: 480px) {
    .modal {
      padding: 10px;
    }
  
    .modal__main {
      min-height: auto;
      width: 100%;
      max-width: 524px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      border-radius: 24px;
      padding: 16px 16px 24px;
    }
  
    .modal__close {
      top: 16px;
      right: 16px;
    }
    
  }
  
  @media (min-width: 1024px) {
  
    .modal__main {
      max-width: 684px;
      padding: 24px 24px 36px;
    }
  
    .modal__close {
      top: 24px;
      right: 24px;
    }

    .modal {
      padding: 20px;
    }
  } 
