.navigation {
    margin-bottom: 30px;
}

.navigation__container {
    padding: 0;
    min-width: 100vw;;
}

.navigation__list {
    display: flex;
    padding: 0 calc(100vw / 2 - var(--container) / 2);
    overflow-x: auto;
    overflow-y: hidden;
    column-gap: 8px;
}



.navigation__button {
    border-radius: 50px;
    background-color: white;
    padding: 7px 8px 7px 40px;
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: 8px center;
} 

.navigation__button:hover,
.navigation__button:focus-visible {
    outline: 1px solid #f86310;
    outline-offset: -1px;

}

.navigation__button:active {
    background-color: #FFAB08;

}

@supports not selector(:focus-visible) {
    .navigation__button:focus{
        outline: 1px solid #f86310;
        outline-offset: -1px;
    }
}

.navigation__button_active {
    pointer-events: none;
    background-color: #ffab08;
}

.navigation__button_active:focus {
    outline: none;
}

.navigation__button_burger {
    background-image: url(../img/burger.png);
}

.navigation__button_snack {
    background-image: url(../img/snack.png);
}

.navigation__button_hot-dog {
    background-image: url(../img/hot-dog.png);
}

.navigation__button_combo {
    background-image: url(../img/combo.png);
}

.navigation__button_shawarma {
    background-image: url(../img/shawarma.png);
}

.navigation__button_pizza {
    background-image: url(../img/pizza.png);
}

.navigation__button_wok{
    background-image: url(../img/wok.png);
}

.navigation__button_dessert {
    background-image: url(../img/dessert.png);
}

.navigation__button_sauce {
    background-image: url(../img/sauce.png);
}

@media screen and (min-width: 480px ) {
    .navigation{
        --container: 80%;
    }
}

@media screen and (min-width: 768px ) {
    .navigation {
        --container: 640px;
    }

    .navigation__list {
        column-gap: 12px;
    }
}

@media screen and (min-width: 1024px ) {
    .navigation {
        margin-bottom: 50px;
        --container: 960px
    }

    .navigation__list {
        column-gap: 24px;
    }

    .navigation__button {
        padding: 9px 14px 9px 46px;
        font-size: 16px;
        line-height: 22px;
        background-position: 14px center;
    }
}

@media screen and (min-width: 1360px ) {
    .navigation {
        --container: 1290px;
    }
}


