.order {
    position: relative;
  }
  
  .order__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #FFFFFF;
    width: 100%;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 16px 10px;
    z-index: 10;
  }
  
  .order__wrap-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    cursor: pointer;
    outline: none;
  }

  .order__wrap-title::after {
    content: '';
    position: absolute;
    outline: 3px solid transparent;
    inset: 0;
    border-radius: 12px;
    pointer-events: none;
  }

  .order__wrap-title:focus-visible::after {
    outline-color: #ffab08;
  }
  
  .order__wrap-title:hover .order__title {
    color: #FFAB08;
  }

  .order_open .order__wrap-title {
    margin-bottom: 8px;
  }
  
  .order__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
  }
  
  .order__count {
    display: flex;
    width: 32px;
    font-size: 10px;
    height: 16px;
    line-height: 14px;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F3;
    border-radius: 6px;
  }
  
  .order__wrap-list {
    display: none;
  }
  
  .order_open .order__wrap-list {
    display: block;
  }
  
  .order__list {
    margin-bottom: 16px;
  }
  
  .order__item {
    padding: 15px 0;
    border-bottom: 1px solid #F2F2F3;
    display: flex;
    align-items: center;
    gap: 6px;
  }
  
  .order__item:first-child {
    border-top: 1px solid #F2F2F3;
  }
  
  .order__image {
    width: 64px;
    height: 52px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .order__product {
    flex-grow: 1;
  }
  
  .order__product-title {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 1px;
  }
  
  .order__product-weight {
    font-size: 12px;
    line-height: 16px;
    color: #B1B1B1;
    margin-bottom: 6px;
  }
  
  .order__product-price {
    font-size: 12px;
    line-height: 16px;
  }
  
  .order__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 130%;
    margin-bottom: 24px;
  }
  
  .order__submit {
    background: #FF7020;
    border-radius: 12px;
    line-height: 100%;
    color: #FFFFFF;
    width: 100%;
    padding: 12px;
    margin-bottom: 8px;
  }
  
  .order__submit:hover {
    background-color: #FFAB08;
  }
  
  .order__submit:focus {
    background-color: #F86310;
  }
  
  .order__submit:disabled {
    background-color: #F9F9F9;
    color: #ACACAC;
    cursor: no-drop
  }
  
  .order__appeal {
    padding-left: 32px;
    font-size: 12px;
    line-height: 16px;
    background: url('../img/delivery.png') left no-repeat;
  }

  .order__empty {
    font-size: 16px;
    line-height: 130%;

  }
  
  @media(min-width: 768px) {
    .order__wrapper {
      transition: width .1s ease-in-out;
    }
  
    .order_open .order__wrapper {
      width: 300px;
    }
  }
  
  @media (min-width: 1024px) {
    .order {
      padding-top: 72px;
    }
  
    .order__close {
      display: none;
    }

    .order__wrapper {
      position: unset;
      width: 300px;
      padding: 24px 16px;
    }
  
    .order__wrap-list {
      display: block;
      margin-bottom: 16px;
    }
   
    .order__wrap-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      cursor: default;
      outline: none;
    }

    .order__wrap-title:after {
      content: none;
    }
  
    .order__wrap-title:hover .order__title {
      color: inherit;
    }
  
    .order__title {
      font-size: 24px;
    }
  
    .order__count {
      font-size: 12px;
      line-height: 16px;
      width: 41px;
      height: 20px;
    }

    .order__item {
      padding: 15px 0;
    }
  
    .order__list {
      margin-bottom: 16px;
    }

    .order__total {
      font-size: 16px;
      margin-bottom: 24px;
    }

    .order__submit {
      padding: 1px;
      height: 40px;
      border-radius: 12px;
      font-size: 16px;
      margin-bottom: 8px;

    }

    .order__appeal {
      font-size: 12px;
    }
  }

 
  