.product {
    padding: 4px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 12px;
    min-height: 243px;

}

.product__image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;

}

.product__price {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    margin-bottom: 4px;
}

.product__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    flex-grow: 1px;
    margin-bottom: 4px; 
}

.product__detail {
    outline: none;
    position: relative;
}

.product__detail:hover,
.product__detail:focus-visible {
    color: #F86310;
}

.product__weight {
    color: #b1b1b1;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 7px;
}

.product__add {
    padding: 9px;
    border-radius: 8px;
    background-color: #f2f2f2;
    width: 100%;
    font-size: 12px;
    line-height: 100%;
    transition: all .1s ease;
}

.product__add:hover {
    background-color: #FFAB08;
   }
  
.product__add:focus-visible {
    background-color: #F86310;
   }
  
.product__add:active {
    transform: translate(1px, 2px);
   }
  
.product__add:disabled {
    background-color: #F9F9F9;
   }


   @supports not selector(::focus-visible) {
    .product__add:focus {
      background-color: #F86310;
     }
   }

   

@media screen and (min-width: 1024px ) {
    .product {
        padding: 12px;
        min-height: 411px;
        border-radius: 18px;
    }

    .product__image {
        height: 220px;
        border-radius: 12px;
        margin-bottom: 16px;
    }

    .product__price {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .product__title {
        font-size: 16px;
    }

    .product__weight {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .product__add {
        border-radius: 12px;
        font-size: 16px;
        padding: 12px;
    }
}